@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Rammetto+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(reset.css);

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* HEADER */

.header {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
}

.logo-bold {
  font-weight: 600;
}

.logotype {
  scale: 2;
}

.navbar {
  display: flex;
  column-gap: 40px;
}
.navlink {
}
.header-login {
  display: flex;
  column-gap: 30px;
  font-weight: 500;
  align-items: center;
  white-space: nowrap;
}
.btn {
  border: 1px solid #f53855;
  border-radius: 50px;
  padding: 13px 45px;
  color: #f53855 !important;
}

/* FOOTER */

footer {
  background-color: #f8f8f8;
  margin-top: auto;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 100px;
  padding-top: 65px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-right: auto;
}
.logo {
}
.logotype {
}
.logo-bold {
}
.footer-text {
  color: #4f4f56;
}
.footer-text span {
  font-weight: 500;
}
.footer-social-icons {
  display: flex;
  column-gap: 20px;
}
.footer-social-icons a {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  box-shadow: -6px 4px 15px #b8b8b8;
  cursor: pointer;
  position: relative;
}

.footer-social-icons a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.w-6 {
}
.h-6 {
}
.text-gray-800 {
}
.dark:text-white {
}
.footer-copyright {
  color: #afb5c0;
}
.footer-links {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  white-space: nowrap;
  margin-right: auto;
}
.footer-links li:first-child {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-links-item {
}

/* HERO SECTION */

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 100px 0;
}
.hero-info {
  max-width: 550px;
  row-gap: 20px;
}
.hero-button {
  padding: 17px 77px;
  background-color: #f53855;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  box-shadow: 0 15px 40px #f5385493;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}
.hero-p {
  line-height: 1.5;
  color: #4f5665;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 span {
  font-weight: 600;
}

p span {
  font-weight: 500;
}

.man-first {
  width: 36vw;
  margin-right: 90px;
}
/* HOVER EFFECT */
@media (hover: hover) {
  .navlink:hover {
    transition: 0.2s;
    text-decoration: underline;
  }
  .btn:hover {
    transition: background ease 0.2s;
    background: #f53855;
    color: white !important;
  }
  .footer-links-item:hover {
    text-decoration: underline;
  }
  .footer-social-icons a:hover {
    transition: all ease 0.5s;
    background: #f53855;
    box-shadow: 0 0 17px #f53855;
  }
  .footer-social-icons a:hover path {
    fill: white;
  }
  .hero-button:hover {
    padding: 17px 77px;
    background-color: white;
    color: #f53855;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 15px 20px #f53854b0;
    transition: all ease 0.3s;
  }
}

/* ADAPTABILITY */
@media (max-width: 1065px) {
  .navbar {
    display: none;
  }

  .navbar.active {
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.712);
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 50vw;
    flex-direction: column;
    row-gap: 30px;
    padding: 40px;
    padding-top: 50px;
  }

  .navbar.active .navlink {
    color: white;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    column-gap: 26px;
  }

  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 500;
  }

  .hamburger-icon div {
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all ease 0.2s;
  }

  .active .top {
    transform: rotate(-45deg);
  }

  .active .middle {
    display: none;
  }

  .active .bottom {
    transform: rotate(45deg);
    margin-top: -24px;
  }

  .hamburger-icon.active div {
    background-color: white;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 80px 0;
  }
  .hero-info {
    row-gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .man-first {
    width: 400px;
    margin-top: 20px;
  }
  .hero-header,
  .hero-p {
    text-align: center;
  }
  .hero-p {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 892px) {
  .footer-wrapper {
    justify-content: space-around;
    gap: 30px;
  }
}

@media (max-width: 580px) {
  .logo {
    font-size: 17px;
    column-gap: 5px;
  }
  .logotype {
    scale: 1.3;
  }
  .header-login {
    font-size: 14px;
    column-gap: 14px;
  }
  .header-wrapper {
    column-gap: 12px;
  }
  .header-wrapper .btn {
    padding: 10px 20px;
  }
  .hero-header {
    font-size: 40px;
  }
  .man-first {
    width: 250px;
  }
}

@media (max-width: 389px) {
  .header-logo p {
    display: none;
  }
  .logotype {
    scale: 1.5;
  }
  .navbar.active {
    width: 65vw;
  }
  .man-first {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
  }
}

/*  */

/*  */
